<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul {
            padding-left: 0;
            list-style: none;
        }
    </style>
</head>
<body>
    <h2>로그인</h2>
    <form action="/product" method="post">
        <ul>
            <li><label>ID : </label><input type="text"></li>
            <li><label>PW : </label><input type="text"></li>
            <li><input type="submit" value="로그인"></li>
        </ul>
    </form>
</body>
</html>