<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul {
            padding-left: 0;
            list-style: none;
        }
    </style>
</head>
<body>
    <h2>회원가입</h2>
    <form action="/member/join" method="post">
        <ul>
            <li><label>ID : </label><input name="id" type="text"></li>
            <li><label>이름 : </label><input name="name" type="text"></li>
            <li><label>PW : </label><input name="pw" type="text"></li>
            <li><input type="submit" value="회원가입"></li>
        </ul>
    </form>
</body>
</html>