<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul {
            padding-left: 0;
            list-style: none;
        }
    </style>
</head>
<body>
    <h2>환영합니다</h2>
    <ul>
        <li><div></div>님</li>
        <li>회원가입을 환영합니다.</li>
        <li><input type="button" value="메인으로" onclick="location.href='/product';"></li>
        <li><input type="button" value="로그인하러 가기" onclick="location.href='/member/login';"></li>
    </ul>
</body>
</html>