@charset "EUC-KR";

.under {
	outline: none; /* 테두리 바깥 외곽선 X */
	border-left-width: 0px; /* 왼쪽 테두리 두께: 0px */
	border-right-width: 0px; /* 오른쪽 테두리 두께: 0px */
	border-top-width: 0px; /* 상단 테두리 두께: 0px */
	border-bottom-width: 1px; /* 하단 테두리 두께: 1px */
}

ul {
	padding-left: 0; /* 왼쪽 여백 제거 */
	list-style: none; /* 기호 제거 */
	
	border-style: solid; /* 테두리 스타일: 실선 */
	border-width: 1px; /* 테두리 두께: 1px */
	width: 236px; /* 테두리박스 가로 길이: 236px */
	height: 220px; /* 테두리박스 세로 길이: 220px */
	padding: 5px; /* 테두리박스 내부 여백: 5px */
	box-sizing: content-box; /* 테두리박스 사이즈 설정 방식 */
	
	left: 0; /* 왼쪽 여백: 0 */
	right: 0; /* 오른쪽 여백: 0 */
	margin: 0 auto; /* 위아래 여백은 X, 좌우의 여백만 균등하게 분배 */
}